version: '3.9'

services:
  api:
    container_name: nestjs-api
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - '3000:3000'
    env_file:
      - .env
    environment:
      NODE_ENV: production
    command: ['node', 'dist/main.js']
